server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: frontend
          uri: file:///F:/TEST/CMateData/frontend/
          predicates:
            - Path=/**
          filters:
            - RewritePath=/(?<segment>.*), /${segment}
        - id: chemistry-service
          uri: lb://chemistry-service
          predicates:
            - Path=/api/chemistry/**
          filters:
            - StripPrefix=2
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/user/**
          filters:
            - StripPrefix=2
        - id: learning-progress-service
          uri: lb://learning-progress-service
          predicates:
            - Path=/api/progress/**
          filters:
            - StripPrefix=2

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true