spring:
  application:
    name: ai-service
  redis:
    host: redis-master
    port: 6379
    password: redis-password
    timeout: 10000
    lettuce:
      pool:
        max-active: 8
        max-wait: -1
        max-idle: 8
        min-idle: 0
  cloud:
    compatibility-verifier:
      enabled: false

server:
  port: 8087

# Eureka 服务注册
eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.cloud.client.hostname}:${spring.application.name}:${server.port}