version: '3'

services:
  harbor:
    image: goharbor/harbor-offline-installer:v2.9.0
    container_name: harbor
    restart: always
    ports:
      - "8081:80"
      - "4443:443"
      - "5000:5000"
    volumes:
      - ./data:/data
      - ./config:/etc/harbor
      - ./log:/var/log/harbor
    environment:
      - harbor_admin_password=Harbor12345
      - hostname=localhost
      - ui_url_protocol=http
      - db_password=root123
      - redis_password=root123
      - clair_db_password=root123
      - notary_db_password=root123
