server:
  port: 8081

spring:
  application:
    name: chemistry-service
  datasource:
    url: ${spring.cloud.data.url:jdbc:h2:mem:chemistrydb}
    driverClassName: ${spring.cloud.data.driver:org.h2.Driver}
    username: ${spring.cloud.data.user:sa}
    password: ${spring.cloud.data.password:password}
  h2:
    console:
      enabled: true
      path: /h2-console
  cloud:
    data:
      url: jdbc:mysql://localhost:3306/chemistry_learning?useSSL=false&serverTimezone=UTC&characterEncoding=utf8
      driver: com.mysql.cj.jdbc.Driver
      user: root
      password: 123456

mybatis:
  mapper-locations: classpath:mappers/*.xml
  type-aliases-package: com.cmatedata.chemistryservice.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    # 启用健康检查
    healthcheck:
      enabled: true
  instance:
    prefer-ip-address: true
    # 服务续约间隔
    lease-renewal-interval-in-seconds: 30
    # 服务过期时间
    lease-expiration-duration-in-seconds: 90
    # 实例ID
    instance-id: ${spring.cloud.client.hostname}:${spring.application.name}:${server.port}

# 暴露所有端点
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      enabled: true
    health:
      show-details: always