server:
  port: 8081

spring:
  application:
    name: chemistry-service
  datasource:
    url: jdbc:h2:mem:chemistrydb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  h2:
    console:
      enabled: true
      path: /h2-console

mybatis:
  mapper-locations: classpath:mappers/*.xml
  type-aliases-package: com.cmatedata.chemistryservice.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true